.heroWrapper {
  background-color: var(--chakra-colors-neutral-50);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--chakra-shadows-base);
  gap: 15px;
  padding: 12px 8px 22px 8px;
}

.topSection {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  align-items: center;
  width: 100%;
}

.avatarContainer {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titleWrapper {
  margin-left: 2.5rem;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.heroImageContainer {
  flex-shrink: 0;
  display: flex;
  transform: translateY(-10px);
}

@media (min-width: 48em) {
  .heroWrapper {
    padding: 24px 32px 40px 32px;
  }
}

.title {
  font-weight: bold;
  color: var(--chakra-colors-neutral-900);
  font-size: 1.3rem;
}

@media (min-width: 48em) {
  .title {
    font-size: 1.5rem;
  }
}

.buttonGroup {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.btnExplorar {
  background-color: var(--chakra-colors-neutral-50) !important;
  color: black !important;
  border: 1px solid var(--chakra-colors-neutral-500) !important;
}

.btnExplorar:hover {
  background-color: var(--chakra-colors-neutral-100) !important;
}
