.root {
  position: relative;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.dotContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  min-height: 34px;
  align-items: center;
}

.dot {
  padding: 0;
  border: none;
  height: 12px;
  border-radius: 9999px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

/* --- ÁREA TÁCTIL EXPANDIDA --- */
.dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
}

/* El punto inactivo */
.dotInactive {
  width: 8px;
  background-color: var(--chakra-colors-neutral-300);
}

/* El punto activo */
.dotActive {
  width: 20px;
  background-color: var(--chakra-colors-brand-default);
}
