.heroWrapper {
  background-color: var(--chakra-colors-neutral-50);
  /* border-radius: 1rem; */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--chakra-shadows-base);
  gap: 28px;
  padding: 32px 8px;
}

@media (min-width: 48em) {
  .heroWrapper {
    padding: 40px 32px;
  }
}

.title {
  font-weight: bold;
  color: var(--chakra-colors-neutral-900);
  margin-bottom: 4px;
  font-size: 1.3rem;
}

@media (min-width: 48em) {
  .title {
    font-size: 1.5rem;
  }
}

.description {
  font-size: 1rem; /* md */
  color: var(--chakra-colors-fg-muted);
  padding-left: 20px; /* px 5 */
  padding-right: 20px;
}

.buttonGroup {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.btnExplorar {
  background-color: var(--chakra-colors-neutral-50) !important;
  color: black !important;
  border: 1px solid var(--chakra-colors-neutral-500) !important;
}

.btnExplorar:hover {
  background-color: var(--chakra-colors-neutral-100) !important;
}
