* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  background-color: #F8F9FA;

}



@font-face {
  font-family: 'Inter';
  src: local('Inter');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto');
  font-display: swap;
}