.card {
  background-color: var(--chakra-colors-neutral-50);
  border-radius: 1rem; /* 2xl */
  padding: 16px;
  box-shadow: var(--chakra-shadows-base);
  min-height: 300px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

.viewMore {
  font-size: 15px;
  font-weight: bold;
  color: var(--chakra-colors-accent-default);
}

.divider {
  border-top: 1px solid var(--chakra-colors-neutral-100);
  margin-bottom: 16px;
  margin-left: -16px;
  margin-right: -16px;
}

.scrollWrapper {
  position: relative;
}

.scrollArea {
  overflow-x: auto;
  scrollbar-width: none;
}

.scrollArea::-webkit-scrollbar {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--items-count), 190px);
  gap: 10px;
}

@media (min-width: 48em) {
  .grid {
    grid-template-columns: repeat(var(--items-count), 226px);
    gap: 20px;
  }
}

.arrows {
  position: absolute;
  bottom: -8px;
  right: 0;
  display: flex;
  gap: 7px;
}
.arrowButton {
  width: 31px;
  height: 31px;
  border-radius: 100px;
  border: 1px solid var(--chakra-colors-brand-default);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--chakra-colors-brand-default);
}

.arrowButton:disabled {
  opacity: 0.3;
  cursor: default;
}
